.cardWrapper {
  composes: cardWrapper from "../../../App.module.css";
}

.btnWrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleBtn {
  width: 60px;
  height: 60px;
  background-color: #262626;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.toggleBtn:last-child {
  margin-left: 10px;
}

.active {
  background-color: #0077ff;
}

/* For phone component */
.actionBtnWrapper {
  composes: actionBtnWrapper from "../../../App.module.css";
}

.bottomParagraph {
  composes: bottomParagraph from "../../../App.module.css";
}
